{% extends 'main_app/base.html' %}

{% block css %}
    <style>
        #content {
            margin: 50px;
        }
    </style>
{% endblock %}



{% load crispy_forms_tags %}
{% block content %}
    {% if user.is_superuser %}



    <h2>Add Game</h2>
    
    <form method="post" action="#" enctype="multipart/form-data" class="form-group">
        {% csrf_token %}

        
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.title|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ form.release_date|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.cover_image|as_crispy_field  }}
            </div>
        </div>
        {{ form.description|as_crispy_field  }}

        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th colspan="6" style="text-align: center">Game Tags</th>
                </tr>
            </thead>
            <tbody>
                {% for tag in form.tags %}
                    {% cycle '<tr>' '' '' '' '' '' %}
                        <td style="text-align: center">{{tag}}</td>
                    {% cycle '' '' '' '' '' '</tr>' %}
                {% endfor %}
            </tbody>
        </table>



        <button type="submit" name="save" class="btn btn-success">Add To Portal</button>
    </form>


    
    {% else %}
        <p>You are not an admin.</p>
    {% endif %}
{% endblock %}