{% extends 'main_app/base.html' %}

{% block css %}
    <style>
        #content {
            margin: 50px;
        }

        #main_container {
            display: grid;
            align-items: center; 
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 5px;
            vertical-align: top;
            position: relative;
        }

        #g_image {
            display: inline-block;
            vertical-align: top;
        }

        #g_text {
            display: inline-block;
            vertical-align: top;
        }
    </style>
{% endblock %}



{% block content %}
    <div id="main_container">
        <div id="g_image">
            <img src="{{ game.cover_image.url }}" height="600"/>
        </div>
        <div id="g_text">
          <h1>{{game.title}}</h1>
          <p>Released {{game.release_date}}</p><br/><br/>
          <p>{{game.description}}</p>
        </div>
    </div>
    
    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th colspan="6" style="text-align: center">Game Tags</th>
            </tr>
        </thead>
        <tbody>
            {% for tag in game.tags.all %}
                {% cycle '<tr>' '' '' '' '' '' %}
                    <td>{{tag}}</td>
                {% cycle '' '' '' '' '' '</tr>' %}
            {% endfor %}
        </tbody>
    </table>



    <a role="button" class="btn btn-primary btn-lg btn-block" href="reviews/">Load Reviews</a>
{% endblock %}